<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baozi.admin.mapper.SysSystemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baozi.admin.entity.SysSystemDO">
        <id column="id" property="id" />
        <result column="system_code" property="systemCode" />
        <result column="system_name" property="systemName" />
        <result column="remark" property="remark" />
        <result column="system_sort" property="systemSort" />
        <result column="is_delete" property="isDelete" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, system_code, system_name, remark, system_sort, is_delete, created_by, created_time, updated_by, updated_time
    </sql>

</mapper>
