<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baozi.admin.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baozi.admin.entity.SysUserDO">
        <id column="id" property="id" />
        <result column="user_code" property="userCode" />
        <result column="user_name" property="userName" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="image_url" property="imageUrl" />
        <result column="register_date" property="registerDate" />
        <result column="is_delete" property="isDelete" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_code, user_name, login_name, password, salt, sex, phone, email, image_url, register_date, is_delete, created_by, created_time, updated_by, updated_time
    </sql>

</mapper>
